@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

canvas {
    display: block;
}

.about {
    position: absolute;
    color: #fff;
    width: 400px;
    font-size: 14px;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    top: 50%;
    left: calc(50% - 200px);
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: default;
}

.world {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
}

html,
body {
    height: 100vh;
    overflow-x: hidden;
}

.intro {
    height: 100vh;
    width: 100%;
    background: #999;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    color: white;
}

.slick-track,
.slick-list {
    height: 100vh;
}

.slick-dotted.slick-slider {
    margin: 0;
}

.slidess {
    width: 100%;
    height: 100vh;
}

.slidess .slide {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots {
    position: absolute;
    bottom: 5vw;
    left: 2vh;
    text-align: left;
}

.slick-dots li {
    display: block;
}

.slide-content {
    height: 50vh;
    width: 50%;
    font-size: 2vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0rem 0rem 2rem 0 rgba(180, 110, 19, 0.3);
    background: inherit;
    cursor: default;
}

.slide-content:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.178);
    filter: blur(10px);
}

.slide-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-style: dotted;
  border-color: aqua; */
    height: 40%;
}

.slide-title {
    font-family: "Josefin Sans";
    text-shadow: 2px 2px rgb(184, 57, 35);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    /* border: dotted blue; */
    font-size: 2.5vh;
    height: 10vh;
}

.slide-subtitle {
    font-size: 2.5vmin;
    text-align: center;
    text-align: center;
    /* border: dotted blue; */
    text-decoration: none;
}

.slide-subtitle:after {
    bottom: 0;
    content: "";
    display: flex;
    align-items: center;
    position: relative;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.slide-content:hover .slide-header>.slide-subtitle:after {
    width: 100%;
}

.slide-text {
    font-family: "Josefin Sans";
    font-size: 3vmin;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 40vh;
    padding: 5%;
    line-height: 1.5;
}

.slick-dots {
    /* buttons list */
    height: 80vh;
    top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* border: dotted dodgerblue; */
}

.slick-dots li button {
    /* button of navbar */
    height: 20vh;
    background-color: rgb(187, 20, 20);
    border-radius: 10vh;
    /* border: dotted 1px yellow; */
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 3vmin;
}

.slick-dots li button span {
    /* button text */
    /* display: inline-block; */
    color: white;
    font-size: 1.8vmin;
    writing-mode: vertical-rl;
    height: 20vh;
    text-align: center;
    /* border: solid 1px white; */
    width: 1, 5vmin;
    text-orientation: upright;
}

.slick-dots li button:hover {
    background-color: rgba(21, 216, 241, 0.733);
}

.slick-active.slick-active button {
    /* width: 3vmin; */
    text-decoration: none;
    background-color: white;
}

.slick-active.slick-active.slick-active button span {
    text-align: center;
    color: rgb(187, 20, 20) !important;
    font-weight: 900;
    transition: all 2s ease-in;
}

.glider-next.disabled,
.glider-prev.disabled {
    opacity: .25;
    color: black !important;
    cursor: default;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
    color: tomato;
}

.glider-slide {
    min-width: 0;
    width: 50vw !important;
    height: 40vh !important;
    display: flex;
    align-content: center;
    align-items: center;
}

.glider-contain {
    /* border: dotted blue; */
    width: 50vw !important;
    height: 40vh !important;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.glider {
    /* border: dotted tomato; */
    height: 39vh;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.slide-text.glider-contain {
    padding: 0;
}

.glider-prev,
.glider-next {
    top: 16vh;
    height: 5vh;
    width: 5vw;
    font-weight: 900;
    display: flex;
    font-stretch: expanded;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* color: rgb(158, 153, 153); */
    color: rgb(187, 20, 20);
    animation: next-prev 1.2s ease-in 0.3s infinite alternate;
}

@keyframes next-prev {
    0% {
        color: rgb(187, 20, 20);
    }
    100% {
        /* color: rgb(44, 43, 41); */
        opacity: 0;
    }
}

.project-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    height: 10vh;
    font-size: 2.5vmin;
    margin: 5vh;
    z-index: 100;
}

.project-desc {
    font-size: 3vmin;
    height: 30vh;
    width: 30vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 0 1;
    line-height: 1.5;
}

.icon {
    height: 15vh !important;
    border-radius: 5px;
    color: rgba(18, 116, 228, 0.693);
    font-size: 5vh;
}

.server-icon {
    width: 15vw;
    height: 15vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.icon-container {
    height: 15vh;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.sub-icon {
    height: 6vh;
}
.sql-icon {
    margin-top: 0.3em;
    margin-left: 0.2em;
    height: 4vh;
}

.sm-icon-container {
    height: 40vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-gap: 3vw;
    justify-content: center;
    align-items: center;
    /* i m here */
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* justify-content: center; */
    /* background-color: rgba(180, 110, 19, 0.3); */
}

.s-icon {
    font-size: 5vw;
    height: 8vw;
    width: 8vw;
    border-radius: 50vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: -1vw 0vw 2vw rgba(190, 191, 197, 0.809);
}

.github {
    color: #fff;
    background-color: black;
    border-color: #fff;
    font-size: 8vw;
}

.linkedin {
    background-color: #0077b5;
}

.gmail {
    background-color: #EA4335;
}
.s-icon a {
    text-decoration: none;
    color: #fff;
}

.sm-name {
    font-size: 2vh;
    line-height: 1;
    width: 12vw;
    height: 5vh;
    padding: 0.7vh;
    border-radius: 25vh;
    position: relative;
    top: 0;
    box-shadow: -5px 5px 10px rgba(211, 213, 228, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    /* top: -1vh; */
    /* background-color: blue; */
}

.sm-name:before {
    position: absolute;
    width: 1vw;
    height: 1vw;
    content: "";
    background: rgb(71, 47, 47);
    bottom: -0.5vw;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.link.sm-name::before {
    background: #0077b5;
}

.git.sm-name::before {
    background: #fff;
}

.gm.sm-name::before {
    background: #EA4335;
}

.contact-container:hover .sm-name {
    opacity: 1;
    pointer-events: auto;
    top: -1em;
}

.contact-container .s-icon:hover .contact-container .sm-name {
    opacity: 1;
}

.git {
    background-color: #fff;
    color: black;
}

.link {
    background-color: #0077b5;
}

.gm {
    background-color: #EA4335;
}

#pop-up {
    position: absolute;
    top: 40vh;
    width: 45vw;
    left: 2vw;
    background-color: #d3d3d348;
    border-radius: 10vh;
    padding: 0 2vw;
    text-align: center;
    display: none;
}
