@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

canvas {
    display: block;
}

.about {
    position: absolute;
    color: #fff;
    width: 400px;
    font-size: 14px;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    top: 50%;
    left: calc(50% - 200px);
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: default;
}

.world {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
}

html,
body {
    height: 100vh;
    overflow-x: hidden;
}

.intro {
    height: 100vh;
    width: 100%;
    background: #999;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    color: white;
}

.slick-track,
.slick-list {
    height: 100vh;
}

.slick-dotted.slick-slider {
    margin: 0;
}

.slidess {
    width: 100%;
    height: 100vh;
}

.slidess .slide {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots {
    position: absolute;
    bottom: 5vw;
    left: 2vh;
    text-align: left;
}

.slick-dots li {
    display: block;
}

.slide-content {
    height: 50vh;
    width: 50%;
    font-size: 2vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0rem 0rem 2rem 0 rgba(180, 110, 19, 0.3);
    background: inherit;
    cursor: default;
}

.slide-content:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.178);
    filter: blur(10px);
}

.slide-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-style: dotted;
  border-color: aqua; */
    height: 40%;
}

.slide-title {
    font-family: "Josefin Sans";
    text-shadow: 2px 2px rgb(184, 57, 35);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    /* border: dotted blue; */
    font-size: 2.5vh;
    height: 10vh;
}

.slide-subtitle {
    font-size: 2.5vmin;
    text-align: center;
    text-align: center;
    /* border: dotted blue; */
    text-decoration: none;
}

.slide-subtitle:after {
    bottom: 0;
    content: "";
    display: flex;
    align-items: center;
    position: relative;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.slide-content:hover .slide-header>.slide-subtitle:after {
    width: 100%;
}

.slide-text {
    font-family: "Josefin Sans";
    font-size: 3vmin;
    text-align: center;
    width: 50vw;
    height: 40vh;
    padding: 5%;
    /* border-style: dotted; */
}

.slick-dots {
    /* buttons list */
    height: 80vh;
    top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* border: dotted dodgerblue; */
}

.slick-dots li button {
    /* button of navbar */
    height: 20vh;
    background-color: rgb(187, 20, 20);
    border-radius: 10vh;
    /* border: dotted 1px yellow; */
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 3vmin;
}

.slick-dots li button span {
    /* button text */
    /* display: inline-block; */
    color: white;
    font-size: 1.8vmin;
    writing-mode: vertical-rl;
    height: 20vh;
    text-align: center;
    /* border: solid 1px white; */
    width: 1, 5vmin;
    text-orientation: upright;
}

.slick-dots li button:hover {
    background-color: rgba(21, 216, 241, 0.733);
}

.slick-active.slick-active button {
    /* width: 3vmin; */
    text-decoration: none;
    background-color: white;
}

.slick-active.slick-active.slick-active button span {
    text-align: center;
    color: rgb(187, 20, 20) !important;
    font-weight: 900;
    transition: all 2s ease-in;
}

.glider-next.disabled,
.glider-prev.disabled {
    opacity: .25;
    color: black;
    cursor: default;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
    color: tomato;
}

.dots {
    /* border: dotted yellow; */
    color: white;
}

.glider-slide {
    min-width: 0;
    width: 50vw !important;
    height: 40vh !important;
    display: flex;
    align-content: center;
    align-items: center;
}

.glider-contain {
    /* border: dotted blue; */
    width: 50vw !important;
    height: 40vh !important;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.glider {
    /* border: dotted tomato; */
    height: 39vh;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.glider-dot {
    width: 1vw;
    height: 1vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-self: flex-end;
}

.slide-text.glider-contain {
    padding: 0;
}

.glider-prev,
.glider-next {
    top: 16vh;
}

.project-title {
    font-size: 2.5vmin;
}

/* ************************ project-title animation **************** */

.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  